<section class="page-section bg-dark text-white" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">お問い合わせ</h2>
        <hr class="divider my-4" />
        <p class="mb-5">
          サービスに関する質問、相談などお気軽にご連絡ください。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mx-auto text-center">
        <a href="https://forms.gle/ADhccT2iznTWMaJy8" class="btn btn-lg btn-primary">仕事を依頼する</a>
      </div>
    </div>
  </div>
</section>