<!-- no footer at all! -->
<footer class="bg-light py-5">
  <div class="container">
    <div class="text-center">
      <a href="https://twitter.com/SilverBulletClb"
        target="_blank">
        <i class="fab fa-twitter-square fa-4x mx-1" style="color: #2E95E0"></i>
      </a>
      <a href="https://www.facebook.com/SilverBulletClubdeJapan"
        target="_blank">
        <i class="fab fa-facebook-square fa-4x mx-1" style="color: #3177F2"></i>
      </a>
    </div>
    <div class="small text-center text-muted mt-3">
      {{ site.data.footer.copyright }}
      &nbsp;
      {% for link in site.data.footer.links %}
          <a href="{{ link.url }}" {% assign new_window_is_not_empty = link.new_window | is_not_empty %}
          {% if new_window_is_not_empty %}target="_blank" rel="noopener"
          {% endif %}>{{ link.text }}</a>
      {% endfor %} 
    </div>
  </div>
</footer>
