<section class="page-section" id="profile">
  <div class="container">
    <h2 class="text-center mt-0">メンバー</h2>
    <hr class="divider my-4">
    <p class="text-center mb-5">
      「Silver Bullet Club」のチームメンバーのプロフィールです。
    </p>
    <div class="card-deck">
      <div class="card">
        <img src="assets/img/satoryu-profile.jpeg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Tatsuya Sato</h5>
          <p class="card-text">
            開発を楽しむことをモットーとするプログラマー。
            Ruby、PHP、JavaScript、Azure、BABYMETAL
          </p>
          <a href="https://satoryu.github.io/curriculum_vitae/" target="_blank">経歴</a>
        </div>
        <div class="card-footer">
          <a href="https://github.com/satoryu" target="_blank" class="card-link">
            <i class="fab fa-github fa-2x"></i>
          </a>
          <a href="https://twitter.com/satoryuofficial" target="_blank" class="card-link">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
          <a href="https://www.linkedin.com/in/satoryu/" target="_blank" class="card-link">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
          <a href="https://satoryu.github.io/blog/" target="_blank" class="card-link">
            <i class="fas fa-blog fa-2x"></i>
          </a>
          <a href="https://speakerdeck.com/satoryu" target="_blank" class="card-link">
            <i class="fab fa-speaker-deck fa-2x"></i>
          </a>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/takaking22-profile.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Takao Oyobe</h5>
          <p class="card-text">制御不能なアジャイルモンスター。<br />
            エンジニアとして、様々なドメインのプロダクト開発・運用・新規事業立ち上げを経験。アジャイル開発との出会いをきっかけに、最強のチーム・組織をつくるために日々奮闘。
            また、アジャイルコーチ（個人事業主）としても活動中。</p>
          <a href="https://takaking22.github.io/" target="_blank">経歴</a>
        </div>
        <div class="card-footer">
          <a href="https://github.com/takaking22" target="_blank" class="card-link">
            <i class="fab fa-github fa-2x"></i>
          </a>
          <a href="https://twitter.com/takaking22" target="_blank" class="card-link">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
          <a href="https://www.linkedin.com/in/takaking22/" target="_blank" class="card-link">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
          <a href="https://takaking22.com/" target="_blank" class="card-link">
            <i class="fas fa-blog fa-2x"></i>
          </a>
          <a href="https://speakerdeck.com/takaking22" target="_blank" class="card-link">
            <i class="fab fa-speaker-deck fa-2x"></i>
          </a>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/mya-zaki-profile.jpeg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Gota Miyazaki</h5>
          <p class="card-text">
            Webアプリケーションエンジニアとして、プロダクトの開発・運用をしています。
            PHP、JavaScript <br>
            BGM担当
          </p>
          <a href="https://mya-zaki.github.io/" target="_blank">経歴</a>
        </div>
        <div class="card-footer">
          <a href="https://github.com/mya-zaki" target="_blank" class="card-link">
            <i class="fab fa-github fa-2x"></i>
          </a>
          <a href="https://twitter.com/gmya_zaki" target="_blank" class="card-link">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
