<section class="page-section" id="news">
  <div class="container">
    <h2 class="text-center mt-0">最新のお知らせ</h2>
    <hr class="divider my-4">
    <div class="card-deck">
      {% for post in site.posts limit:3 %}
      <div class="card">
        <img src="{{ post.image }}" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <span class="card-subtitle text-muted">{{ post.date | date_to_string }}</span>
          <p class="card-text">
            {{ post.description }}
          </p>
          <a class="stretched-link" href="{{ post.url }}">記事を読む</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>