<section class="page-section bg-primary" id="note">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">ご依頼いただくにあたって</h2>
        <hr class="divider light my-4" />
        <ul class="text-white list-unstyled">
          <li>仕事や予定の調整は本業を優先させていただきます。</li>
          <li>支援内容に依りますが、リモートでの業務を基本とさせていただきます。</li>
          <li>その他ご不明点等についてはお気軽にお問い合わせ下さい。</li>
        </ul>
      </div>
    </div>
  </div>
</section>