<section class="page-section" id="output">
  <div class="container">
    <h2 class="text-center mt-0">アウトプット</h2>
    <hr class="divider my-4">
    <div class="card-deck">
      <div class="card mb-3">
        <img class="card-img-top" src="/assets/img/teamreview.png">
        <div class="card-body">
          <h5 class="card-title">チームで品質を考えるレビュー</h5>
          <p class="card-text">JaSST Hokuriku 21にて、チームが考える「レビュー」について講演しました。</p>
          <a href="https://speakerdeck.com/takaking22/teams-review-for-quality" target="_blank" class="stretched-link">speakerdeckへ</a>
        </div>
      </div>
      <div class="card mb-3">
        <img class="card-img-top" src="/assets/img/teambasedteam.png">
        <div class="card-body">
          <h5 class="card-title">Team-Based TEAM - 会社を越えるチーム</h5>
          <p class="card-text">Regional Scrum Gathering Tokyo 2020にて、Team Based Teamについて講演しました。</p>
          <a href="https://speakerdeck.com/takaking22/team-based-team" target="_blank" class="stretched-link">speakerdeckへ</a>
        </div>
      </div>
      <div class="card mb-3">
        <img class="card-img-top" src="/assets/img/mobprogramming.png">
        <div class="card-body">
          <h5 class="card-title">モブプログラミングという働き方</h5>
          <p class="card-text">DevLOVE 200 Bridgeにて、おそらく日本ではじめてモブプログラミングの事例を講演しました。</p>
          <a href="https://speakerdeck.com/takaking22/mobupuroguramingutoiudong-kifang-number-devlove" target="_blank" class="stretched-link">speakerdeckへ</a>
        </div>
      </div>
    </div>
    <h4 class="mt-2">主な活動</h4>
    <ul>
      <li>Regional Scrum Gathering Tokyo 2018-2021</li>
      <li>Developers Summit 2018 ベストスピーカー賞2位</li>
      <li>製造業アジャイル勉強会</li>
      <li>Agile New Japan 2019,2020企画運営 (Agile Japanデンソーサテライトイベント)</li>
      <li>WEB+DB PRESS Vol.102 モブプログラミング記事寄稿</li>
    </ul>
  </div>
</section>