<section class="page-section" id="output">
  <div class="container">
    <h2 class="text-center mt-0">アウトプット</h2>
    <hr class="divider my-4">
    <pre>
      ## チーム活動履歴

      - [製造業アジャイル勉強会(コミュニティ)](https://beyond-hardware-agile.connpass.com/)
      - [2020/5/12 リモート時代のモブプログラミング（モブワーク）](https://moblove.connpass.com/event/173894/)
      - [2019/11/19 Agile Japan 2019 デンソーサテライト](https://www.agilejapan.org/satellite.html)
      - [2018/2/15 Developers Summit 2018 - 実況パワフルモブプログラミング - Rakuten Super English におけるモブプログラミングという働き方 -](https://event.shoeisha.jp/devsumi/20180215/session/1666/)
      - [2017/7/11 モブプロディスカッション](https://www.eventbrite.com/e/35561178442#)
      - モブプログラミング現場体験会
      - モブプログラミングワークショップ・研修
      
      ## チーム受賞歴
      
      - Developers Summit 2018 ベストスピーカー賞 2 位
        - [デブサミ 2018 アワードの受賞者が決定、ベストスピーカー総合 1 位は和田卓人氏](https://codezine.jp/article/detail/11209)
      
      ## チーム執筆歴
      
      - [WEB+DB PRESS Vol.102](http://gihyo.jp/magazine/wdpress/archive/2018/vol102))

    </pre>

    
  </div>
</section>