<section class="page-section" id="recommend">
  <div class="container">
    <h2 class="text-center mt-0">こんな方におすすめ</h2>
    <hr class="divider my-4" />
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <ul class="list-unstyled lead">
          <li><i class="far fa-lightbulb text-primary mr-3"></i>最初からできているチームに仕事を依頼したい</li>
          <li><i class="far fa-lightbulb text-primary mr-3"></i>専門コーチではなくて、現場での成功体験・失敗体験があるチームにサポートして欲しい</li>
          <li><i class="far fa-lightbulb text-primary mr-3"></i>モブプログラミングをうまく活用したいので相談に乗って欲しい</li>
          <li><i class="far fa-lightbulb text-primary mr-3"></i>強いチームや組織をつくりたいので相談に乗って欲しい</li>
        </ul>
      </div>
    </div>
</section>
