<section class="page-section" id="services">
  <div class="container">
    <h2 class="text-center mt-0">サービス</h2>
    <hr class="divider my-4" />
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-users text-primary mb-4"></i>
          <h3 class="h4 mb-2">チーム開発</h3>
          <p class="text-muted mb-0">チームでプロダクト開発をします。</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-comments text-primary mb-4"></i>
          <h3 class="h4 mb-2">チーム相談会</h3>
          <p class="text-muted mb-0">エキスパートチームがチーム開発の悩み相談に乗ります。</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-users text-primary mb-4"></i>
          <h3 class="h4 mb-2">モブプログラミング導入支援</h3>
          <p class="text-muted mb-0">モブプログラミングを実践しているチームが直接モブプログラミング導入の支援をします。</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-microphone text-primary mb-4"></i>
          <h3 class="h4 mb-2">ワークショップ</h3>
          <p class="text-muted mb-0">アジャイル開発、スクラム、モブプログラミング等に関する講演やワークショップをします。</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-chalkboard-teacher text-primary mb-4"></i>
          <h3 class="h4 mb-2">研修・新卒研修</h3>
          <p class="text-muted mb-0">プロダクト開発やチームワークを中心とした研修・新卒研修の企画や運営をお手伝いします。</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-pray text-primary mb-4"></i>
          <h3 class="h4 mb-2">とにかく相談したい</h3>
          <p class="text-muted mb-0">プロダクト開発、チームづくり、組織づくりに関するお悩みはなんでもご相談ください。</p>
        </div>
      </div>
    </div>
  </div>
</section>