<section class="page-section" id="team">
  <div class="container">
    <h2 class="text-center mt-0">Silver Bullet Club</h2>
    <hr class="divider my-4">
    <img class="img-fluid" src="/assets/img/silverbulletclub_banner.png" alt="Silver Bullet Club">
    <p class="text-sm-center my-2">
      私たちは、IT企業や製造業の会社でさまざまなドメインのプロダクトの開発・運用を行ってきたソフトウェア開発チームです。<br>
      スクラムを中心としたアジャイル開発やモブプログラミングをベースにチームづくりをしています。<br>
      ソフトウェア開発ではさまざまな技術要素や開発プロセスを指して「銀の弾丸はない」という比喩が使われることがありますが、<br>私たちはチームが銀の弾丸になることを目指しています。<br>
      チーム名「Silver Bullet Club」はその想いから名付けられました。
    </p>
    <p class="h5 text-sm-center mt-3">チームの略歴</p>
    <div class="ul-align-center">
      <ul>
        <li>2016年11月、チームの原型ができる</li>
        <li>2017年5月、モブプログラミングをはじめる</li>
        <li>2019年1月、チーム名が「Silver Bullet Club」に決まる</li>
        <li>2019年7月、株式会社デンソーにチーム転職をする</li>
        <li>2022年7月、株式会社ホロラボにチーム転職をする</li>
      </ul>
    </div>
    <div class="text-center mt-3">
      <a class="fa-stack fa-2x" href="https://note.com/takaking22/m/mdc7a6bb0e2b9" target="_blank">
        <i class="fas fa-square fa-stack-2x"></i>
        <i class="fas fa-blog fa-stack-1x fa-inverse"></i>
      </a>
      <a class="fa-stack fa-2x" href="https://www.youtube.com/channel/UC2WNGm9_cF2xUlBLXAaJOOQ?sub_confirmation=1" target="_blank">
        <i class="fas fa-square fa-stack-2x"></i>
        <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
      </a>
      <a class="fa-stack fa-2x" href="https://anchor.fm/silver-bullet-club" target="_blank">
        <i class="fas fa-square fa-stack-2x"></i>
        <i class="fas fa-podcast fa-stack-1x fa-inverse"></i>
      </a>
      <a class="fa-stack fa-2x" href="https://twitter.com/silverbulletclb" target="_blank">
        <i class="fas fa-square fa-stack-2x"></i>
        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
      </a>
    </div>
  </div>
</section>